
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bodoni Moda', serif;
    font-family: 'Karla', sans-serif;
}

@mixin flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@mixin flexColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}


.Beautpdf{
    .Navigation{
        width: 100%;
        height: 10vh;
        @include flexRow();
        justify-content: flex-start;
        .Logo{
            width: 150px;
            height: 45px;
            @include flexRow();
        .LogoIcon{
            width: 45px;
        }
        .LogoText{
            color:#353535;
            font-weight: bolder;
            text-decoration: none;
            font-size: 20px;
        }
        }
        
    }
    .Landing{
        width: 100%;
        height: 90vh;
        @include flexColumn();
        position: relative;
        background: #c7eef5;
        clip-path: ellipse(100% 88% at 69% 92%);
        animation: animateClip 2s ease-in-out infinite alternate;
        @keyframes animateClip {
            0%{
                clip-path: ellipse(100% 88% at 69% 92%);
                filter: hue-rotate(0);
            }
            100%{
                clip-path: ellipse(90% 88% at 55% 89%);
                filter: hue-rotate(45deg);
            }
            
        }
        .LandingIcon{
            width: 100px;
            object-fit: contain;
        }
        .Header{
            color:#353535;
            font-weight: lighter;
            font-size: 30px;
        }
            .Container{
                margin-top:5%;
                width: 70%;
                height: 50%;
                background: #faad7a;
                box-shadow:0 0 20px rgba(241, 172, 115, 0.788);
                border-radius: 10px;
                @include flexColumn();
                
                .InnerLine{
                width: 95%;
                height: 90%;
                border: 2px dashed rgba(170, 115, 71, 0.788);
                border-radius: 10px;
                @include flexColumn();
                animation: animate 1s ease-in infinite alternate;
                @keyframes animate {
                    0%{
                        background: #faad7a;
                    }
                    100%{
                        background: #0c0c0c1c;
                    }
                }
                .InputBox{
                width:150px;
                height: 50px;
                @include flexRow();
                background: white;
                border-radius: 6px;
                
                .Button{
                    width: 120px;
                    height: 50px;
                    
                .InputButton{
                    width: 120px;
                    height: 50px;
                    background: #96e0ff;
                    color:#353535;
                    @include flexColumn();
                    border-top-left-radius:6px;
                    border-bottom-left-radius: 6px;
                    font-weight:bolder;
                    font-size: 14px;
                    cursor: pointer;

                    &:hover{
                        background: grey;
                        color: white;
                    }
                    

                }
            }
            }
            .UploadIcon{
                width: 30px;
                object-fit: contain;

            }
            }
            .Information
            {
                margin-top: 5%;
                color:white;
                font-size: 16px;
            }
        }
        
    }
    .Workspace{
        position: relative;
        display: none;
        .Gallery{
            width: 80%;
            height:90%;
            position: absolute;
            top: 100px;
    
        .Images{
            margin-left: 10px;
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
            gap: 10px;

            .ImageWrap{
                width: 300px;
                height: 300px;
                position: relative;
                transition: 0.4s;
                cursor:move;
                
            .Image{
                width: 300px;
                height: 300px;
                object-fit: contain;
                
                
            }
            .DeleteButton{
                width: 30px;
                height: 30px;
                background: url('../media/icons/delete.png');
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                top:10%;
                background-size: cover;
                display: none;
                cursor: pointer;
                &:hover{
                    opacity: 0.5;
                }
            }
            &:hover .DeleteButton{
                display: inline;

            }
            &:hover .Image{
                opacity: 0.5;
            }
        }
            
        }
        
    }
    .PDF{
        width: 100%; 
        height: 100vh;
        display: none;
    }
    .TopPanel{
        width:80%;
        height: 50px;
        background: #3771eed2;
        color: white;
        @include flexColumn();
        


    }
    .sidePanel{
        width: 20%;
        height:100vh;
        position: absolute;
        right: 0;
        top: 0;
        background: #3771eed2;
        @include flexColumn();
        .ProgressBar{
            width: 200px;
            height: 5px;
            background: white;
            opacity: 0;

            .Progress{
                width: 0px;
                height: 5px;
                background: #3fcf07;
            }
        }
        .Convert-Info{
            width: 100%;
            height: 100px;
            padding-top: 5%;
            @include flexColumn();
            .Text{
            width: 70%;
            text-align: center;
            color: white;

            }
            .DownIcon{
            width: 20px;
            object-fit: contain;
            position: absolute;
            margin-top: 30%;
            left: 50%;
            transform: translateX(-50%);
            left: 50%;
            animation: animateDown 0.4s ease-in infinite alternate;
            @keyframes animateDown {
                0%{
                    margin-top: 30%;
                }
                100%{
                    margin-top: 35%;
                }
            }
            }
    }

    .Convert{
        width: 100px;
        height: 30px;
        background: #ff3e5e;
        color: white;
        outline: none;
        border: none;
        margin-top: 20%;
        @include flexColumn();
        border-radius: 6px;
        cursor: pointer;
        font-weight: bolder;
        &:hover{
            background: #353535;
            color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

    }
    }
    }

}




@media screen and (max-width: 600px){
    .Beautpdf .Workspace .TopPanel {
        width: 100%;
        height: 50px;
    }
    .Beautpdf .Workspace .sidePanel{
        width: 100%;
        height: 30vh;
        position: absolute;
        left: 0;
        top: 50px;
    }
    .Beautpdf .Workspace .Gallery .Images {
        margin-left: 10%;
        margin-top: 30vh;
    }
    .Beautpdf .Workspace .sidePanel .Convert-Info {
        width: 100%;
        height: 50px;
    }

}